      {% load static %}
      <!-- FOOTER -->
      <footer class="footer" id="footer">
    <div class="container">

        <!-- TOP FOOTER (4 COLUMNS) -->
        <div class="footer-top">
            <!-- 1. Logo -->
            <div class="footer-col">
                <img src="{% static 'images/Asset 16.svg' %}" alt="Nikita Realty Logo" class="footer-logo">

                
            </div>

            <!-- 2. Contact -->
            <div class="footer-col">
                <h4 >CONTACT</h4>
            
                
                <p>Address: <br> 16010 Barkers Point Lane, #555 Houston Tx 77079 <br> Phone: <br> +18329622241 <br>  Email: <br> info@nikitaglobalrealty.com</p>
                
            </div>

            <!-- 3. Navigation -->
            <div class="footer-col">
                <h4>NAVIGATION</h4>
                <ul>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'forsale' %}">Properties</a></li>
                    <li><a href="https://www.har.com/idx/mls/search?sitetype=aws&cid=715851&mlsorgid=1&allmls=n&for_sale=1" target="_blank">MLS Search</a></li>

                    <li><a href="https://www.har.com/idx/neighborhood/search?sitetype=aws&cid=715851" target="_blank">Neighborhoods</a></li>

                     <li><a href="https://www.har.com/idx/mls/homevalue/search?sitetype=aws&cid=715851" target="_blank">Home valuation</a></li>

                      <li>   <a href="{% url 'index' %}#testimonial-section">Testimonials</a></li>
                    <li><a href="{% url 'market' %}">Market Reports</a></li>
                    <li><a href="{% url 'home_buy' %}">Buy</a></li>
                    <li><a href="{% url 'homesell' %}">Sell</a></li>
                
                </ul>
            </div>


            <!-- 4. Social -->
            <div class="footer-col">
                <h4>CONNECT</h4>
                <div class="social-links">
                    <a href="https://x.com/nikitarealty">Facebook</a>
                    <a href="https://www.instagram.com/nikitaglobalrealty/">Instagram</a>
                    <a href="#">LinkedIn</a>
                    <a href="https://x.com/nikitarealty">Twitter</a>
                </div>
            </div>
        </div>

        <!-- BOTTOM FOOTER (3 VERTICAL DIVS) -->
        <div class="footer-bottom">
            <!-- 1. Line -->
            <div class="footer-line"></div>

            <!-- 2. Write Up -->
            <p class="footer-text">
                © 2025 Nikita Global Realty. All rights reserved.
            </p>

            <!-- 3. Footer Links -->
            <div class="footer-links">
               
                <a href="{% url 'terms' %}">Terms & Conditions</a>
                <a href="{% url 'sitemap' %}">Sitemap</a>
            </div>
        </div>

    </div>

</footer>




