<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Nikita Global Realty - International real estate services in USA, Nigeria, and Ghana">
<meta name="author" content="Nikita Global Realty">
<title>Nikita Global Realty</title>

<!-- Preconnect to external resources -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="dns-prefetch" href="https://www.youtube.com">
<link rel="dns-prefetch" href="https://www.google.com">

<!-- CSS FILES -->
<link rel="icon" type="image/png" href="{% static 'images/digital_icon.png' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">



</head>
<body>


    {% include 'navbar.html' %}
    {% include 'popup.html' %}
    {% include 'help-tool.html' %}
    {% block content %}
    {% endblock %}




</body>
